
.icon-mail:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-sun:before { content: '\e802'; } /* '' */
.icon-mail-1:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-cloud:before { content: '\e805'; } /* '' */
.icon-flash:before { content: '\e806'; } /* '' */
.icon-umbrella:before { content: '\e807'; } /* '' */
.icon-user-1:before { content: '\e808'; } /* '' */