@charset "UTF-8";
*{
	margin: 0;
	padding: 0;	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;

}
body {
	color: #4e5462;
	background-color: #efeeda;
    z-index: -20;
}
a:link , a:visited , a:hover , a:active{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
header {
	z-index: 5;
    color: white;
}
.wrapper {
	width: 1100px;
	margin: 0 auto;
    padding: 20px 40px;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: block;
}
.clearfix:after {
    content: '';
    clear: both;
}
.header-img {
    background-image: url(../img/header.jpg); 
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    text-align: center;
    height: 620px;
    z-index: 500;
}
.txt {
	color: white; 
	text-align: center;
	text-transform: uppercase;
}
.nel {
	position: relative;
	width: 10%;
	float: left;
	top: 25px;
	left: 0px;
	right: 0px;
}
.nel h4 {
	color: white;
    left: 509px;
    font-size: 14px;
    position: relative;
}
.mm {
	font-size: 100px;
	opacity: 1;
	padding-top: 10px;
}
.phot {
	font-size: 32px;
	opacity: 1;
}
.resp {
	font-size: 39px;
	opacity: 1;
	font-style: bold;
}
.temp {
	font-size: 46px;
	opacity: 1;
}
.min-wrapper {
	width: 300px;
    height: 288px;
    top: 150px;
    position: relative;
    margin: 0 auto;
    border: 20px solid;
    border-bottom: 0;
    border-top: 0;
    text-align: center;
    opacity: 0.6;
}
.white-line:before {
	border-top: 20px solid white;
    display: block;
    height: 20px;
    content: " ";
    width: 114px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.white-line:after {
    border-top: 20px solid white;
    display: block;
    height: 20px;
    content: " ";
    width: 114px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.line {
	color: white;
	height: 2px;
	width: 220px;
	margin: 0 auto;
}
.second-white-line:before {
	border-top: 20px solid white;
    display: block;
    height: 20px;
    content: " ";
    width: 114px;
    position: absolute;
    left: 0px;
    top: 268px;
}
.second-white-line:after {
    border-top: 20px solid white;
    display: block;
    height: 20px;
    content: " ";
    width: 114px;
    position: absolute;
    right: 0px;
    top: 268px;
}
.main-orange {
	background-color: #f0c018;
}
.navi {
	float: left;
    width: 20%;
    text-align: center;
    font-weight: 500;
    color: grey;
    font-family: bold;
}
.sedup {
	color: white;
    text-align: center;
    font-size:18px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 20px;
}
.servi {
	text-align: left;
	font-size: 70px;
}
.sedut {
	border-left: 2px solid #f0c018;
	text-align: left;
	font-size: 20px;
	padding-left: 5px;
	font-weight: 700;
	margin-top: 20px;
}
.icoset {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	float: left;
	width: 32%;
	margin: 0 auto;
	padding-top: 20px;
}
.pad {
	padding-left: 2%;
	padding-right: 2%;
}
.ico {
	width: 90px;
    position: relative;
    left: 57px;
    margin: 45px;
    height: 70px;
}
.seduct {
	text-align: justify;
    font-size: 22px;
    height: 230px;
    font-weight: 300;
    padding: 15px;
    margin-bottom: 25px;
}
.seduct2 {
	text-align: justify;
    font-size: 22px;
    height: 230px;
    font-weight: 300;
    padding: 15px;
}
.bito {
	height: 25px;
	background-color: #f0c018;
	text-align: center;
	margin-bottom: 15px;
}
.btn {
	  background: #33393d;
	  background-image: -webkit-linear-gradient(top, #33393d, #313a40);
	  background-image: -moz-linear-gradient(top, #33393d, #313a40);
	  background-image: -ms-linear-gradient(top, #33393d, #313a40);
	  background-image: -o-linear-gradient(top, #33393d, #313a40);
	  background-image: linear-gradient(to bottom, #33393d, #313a40);
	  font-family: Arial;
	  color: #f0c018;
	  font-size: 22px;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
	  text-align: right;
	  float: right;
	  margin-right: 16px;

}
.btna:link , .btn:visited , .btn:hover , .btn:active {
    color: #f0c018;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.train {
	background-image: url(../img/train.jpg); 
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    text-align: center;
    height: 400px;
}
.hrone {
	width: 100%;
	height: 30px;
	color: solid black;
	margin-top: 40px;
	margin-bottom: 10px;
}
.treset {
	float: left;
	width: 33.3%;
	padding: 5px;
	margin: 0 auto;
	padding-top: 20px;
}
.imgtres {
	border: 6px solid #f0c018;
	border-radius: 50%;
	position: relative;
	left: 75px;
}
.bitom {
	font-size: 35px;
    text-align: center;
    padding: 7px;
    font-weight: 500;
}
.bitot {
	font-size: 20px;
    text-align: center;
    font-weight: 500;
}
.border-orange {
	width: 100%;
	height: 2px;
	border-bottom: 2px solid #f0c018;
	padding-top: 40px;
	padding-bottom: 10px;
}
.icosdiv {
	border-top: 2px solid orange;
    padding-top: 0px;
    margin-top: 53px;
    width: 95%;
}
.hr {
  border: 0;
  border-top: 2px solid #8c8c8c;
  border-bottom: 2px solid #8c8c8c;
  margin-top: 50px;
}
.hrclear {
	margin-top: 20px;
}

.big {
	width: 33.3%;
	float: left;
	margin-top: 20px;
	height: 100%;
}
.small {
	width: 16.7%;
	float: left;
	margin-top: 20px;
	height: 100%;
}
.first {
	width: 50%;
	float: left;

}
.background-ice img {
	width: 100%;
	height: 100%;
}
.background-rope img {
	width: 100%;
	height: 100%;
}
.background-a {
    background: url("../img/a.png");
    display: inline-block;
    font-size: 0;
}
.background-a img {
    -webkit-transition: all .5s;
}
.background-a img:hover {
    opacity: 0;
}
.background-b {
    background: url("../img/b.png");
    display: inline-block;
    font-size: 0;
}
.background-b img {
    -webkit-transition: all .5s;
}
.background-b img:hover {
    opacity: 0;
}
.background-c {
    background: url("../img/c.png");
    display: inline-block;
    font-size: 0;
}
.background-c img {
    -webkit-transition: all .5s;
}
.background-c img:hover {
    opacity: 0;
}
.background-d {
    background: url("../img/d.png");
    display: inline-block;
    font-size: 0;
}
.background-d img {
    -webkit-transition: all .5s;
}
.background-d img:hover {
    opacity: 0;
}
.background-e {
    background: url("../img/e.png");
    display: inline-block;
    font-size: 0;
}
.background-e img {
    -webkit-transition: all .5s;
}
.background-e img:hover {
    opacity: 0;
}
.background-f {
    background: url("../img/f.png");
    display: inline-block;
    font-size: 0;
}
.background-f img {
    -webkit-transition: all .5s;
}
.background-f img:hover {
    opacity: 0;
}
.background-g {
    background: url("../img/g.png");
    display: inline-block;
    font-size: 0;
}
.background-g img {
    -webkit-transition: all .5s;
}
.background-g img:hover {
    opacity: 0;
}
.background-h {
    background: url("../img/h.png");
    display: inline-block;
    font-size: 0;
}
.background-h img {
    -webkit-transition: all .5s;
}
.background-h img:hover {
    opacity: 0;
}
.background-ice {
    background: url("../img/ice.jpg");
    display: inline-block;
    font-size: 0;
}
.background-ice img {
    -webkit-transition: all .5s;
}
.background-ice img:hover {
    opacity: 0;
}
.background-rope {
    background: url("../img/rope.jpg");
    display: inline-block;
    font-size: 0;
}
.background-rope img {
    -webkit-transition: all .5s;
}
.background-rope img:hover {
    opacity: 0;
}
.bigger {
	width: 70%;
	float: left;
}
.smaller {
	float: left;
	width: 30%;
}
.name {
	width: 49%;
	float: left;
}
.padn {
	margin-right: 2%;
}
.input {
	width: 100%;
	height: 35px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.message {
	width: 100%;
	height: 200px;
	margin-top: 5px;
}
.msg {
	width: 100%;
}
.btn2 {
    background: #33393d;
    width: 100%;
    position: relative;
    top: 9px;
    left: 15px;
    text-align: center;
    background-image: -webkit-linear-gradient(top, #33393d, #313a40);
    background-image: -moz-linear-gradient(top, #33393d, #313a40);
    background-image: -ms-linear-gradient(top, #33393d, #313a40);
    background-image: -o-linear-gradient(top, #33393d, #313a40);
    background-image: linear-gradient(to bottom, #33393d, #313a40);
    font-family: Arial;
    color: #f0c018;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: right;
    float: right;
    margin-right: 16px;
    margin-bottom: 60px;
}
.btn2:hover {
	 background: #3cb0fd;
	 background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	  text-decoration: none;
}
.txtad {
	margin: 30px;
}
.grey {
	background-color: grey;
}
.what {
	font-size: 50px;
	color: white;
	text-align: center;
	padding: 5px 50px;
}
.wha {
	font-size: 100px;
	color: white;
	text-align: center;
	padding: 5px 50px;
}
.wh {
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 5px 50px;
}
.copy {
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 12px;
}
footer {
	background-color: #f0c018;
}
.img {
	width: 100%;
	height: 100%;
}
.z10 {
	z-index: 200;
}
.fixed-one {
	background-color: #f0c018;
	height:50px;
	position: fixed;
	width: 100%;
	z-index: 1;
	top: -10px;
}